#projetos {
    margin: 30px 0 50px;
    padding: 20px 0;
    background-color: var(--segundacorbackground);
    box-shadow: 0 0 15px rgba(216, 5, 181, 0.3);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#projetos:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.projeto {
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
}

.titles {
    font-family: Oxygen;
    font-size: 32px;
    color: white;
    padding-bottom: 20px;
    font-weight: bold;
}

.img-block {
    background-color: var(--preto-transparente);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px;
    margin: 20px;
    text-align: center;
}
col{
    margin: 10px;
}
.projeto{
    background-color: var(--segundacorbackground);
}
