/* Estilos para a seção Skills */
#Skills {
    padding: 80px 0;
  }
  
  /* Estilos para o título */
  .headling {
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
  }
  
  .headling span {
    color: var(--roxo);
  }
  
  /* Estilos para as cartas de habilidades */
  .card {
    border-radius: 10px;
    margin: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    background: var(--cordeteste2);
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px rgba(192, 141, 183, 0.3);
  }
  
  .card-img-top {
    border-radius: 10px 10px 0 0;
  }
  
  .card-body {
    padding: 30px;
    background-color: var(--cordeteste);
  }
  
  /* Estilos para o ícone de habilidade */
  .skill-box i {
    font-size: 70px;
    color: #E0E0E0;
    margin-bottom: 20px;
  }
  
  /* Estilos para o título de habilidade */
  .skill-box h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--forte);
  }

  .skill-box h4 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--forte2);
  }
  .skill-box p {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: #E0E0E0;
  }
  
  /* Estilos para a lista de habilidades */
  .skill-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .skill-box ul li {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: var(--preto);
  }
  
  
  /* Estilos para a seção do Bootstrap */
  #Bootstrap {
    background-color: var(--cinza);
    padding: 80px 0;
  }
  
  .bootstrap-content {
    text-align: center;
    margin-bottom: 60px;
  }
  
  .bootstrap-content h3 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--preto);
  }
  
  .bootstrap-content p {
    font-size: 2.2rem;
    line-height: 1.5;
    color: var(--preto);
  }
  
