* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    cursor: none;
}

body {
    background: #1f232c;
    color: #E0E0E0;
    
    cursor: none;
}

a {
    cursor: none;
}

.header {
    position: fixed, relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, 2);
}

.logo {
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: sliderLogo 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: sliderNavBar 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: var(--roxo);
}

/***********************CURSOR********************/

.inner-cursor {
    position: fixed;
    left: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    background-color: var(--roxomouse);
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
    z-index: 9999;
}

.inner-cursor.grow {
    width: 25px;
    height: 25px;
    transition: width 0.5s, height 0.5s;
}

.outer-cursor {
    position: fixed;
    left: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: .2s;
}

/******************SOBRE*******************************/

/******************SKILLS*********************/

/**************CONTATO***********/

/*    Rodape   */
